<div class="abc" style="min-height: 60vh;">

  <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card style="margin-top:150px; width: 400px;">
      <mat-form-field class="example-full-width-2" style="width:100%">
        <mat-label>Enter Email</mat-label>
        <input matInput placeholder="email" [(ngModel)]="emailPassword">
      </mat-form-field>
      <div *ngIf="showMsg">
        Email Sent
      </div>
      <br>
      <div style="width:100%; display: flex; justify-content:center;">
        <button mat-stroked-button style="background-color: #981B40; color: white; max-width: 200px; margin: auto;"
          class="btn-block" (click)="sendmail()">Submit!</button>
      </div>
    </mat-card>
  </div>
</div>
