<div style="padding-top:55px;
">

  <mat-drawer-container class="example-container" autosize
    style="min-height: 80vh; padding:10%; padding-top: 20PX;    background-color: rgba(206, 200, 200, 0.1);
  ">
  <div style="display:flex; justify-content: center; background-color:#F1F1F1" *ngIf="authService.isLoggedIn">
    <div class="example-sidenav-content">
      <h2>Account Details</h2>
      <div style="color: green; font-size: 18px;" *ngIf="isUpdate">
        Update Successful
      </div>
      <div style="color: red; font-size: 18px;" *ngIf="isError">
        Email or mobile number already exist
      </div>
      <br>

      <div class="input_container">
        <div class="label" style="flex:1">
          Name
        </div>
        <div style="flex: 3;">
          <input class="input_account" type="text" [(ngModel)]="userName" [disabled]="isDis">
          </div>
          </div>
          <div style="" class="input_container">
            <div class="label" style="flex:1">
              Mobile
            </div>
            <div style="flex:3">
              <input class="input_account" type="number" [(ngModel)]="mobile" [disabled]="isDis">
            </div>
          </div>
          <div style="" class="input_container">
            <div class="label" style="flex:1">
              Email
            </div>
            <div style="flex:3">
              <input class="input_account" type="email" [(ngModel)]="email" [disabled]="isDis">
        </div>
      </div>
      <div style="" class="input_container">
        <div class="label" style="flex:1">
          Upload Image
        </div>
        <br>
        <div>
          <img src="../../assets/image 42.png" style="max-width: 120px;">
        </div>
        <div style="flex:3; margin-top: 15px;">
          <input type="file" [(ngModel)]="securityKey">
        </div>
      </div>
      <div style=" justify-content: center;" class="input_container">
        <div
          style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer; max-width: 100px; text-align: center;"
          (click)="submitDetails()" *ngIf="!isDis">
          Save
        </div>
        <div
          style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer; max-width: 100px; text-align: center;"
          (click)="toggleEdit()" *ngIf="isDis">
          Edit
        </div>
      </div>
      </div>
      </div>
      <br>
      <div style="display:flex; justify-content: center; background-color:#F1F1F1" *ngIf="authService.isLoggedIn">

        <div class="example-sidenav-content">
          <h2>Key Settings</h2>
          <div style="color: green; font-size: 18px;" *ngIf="isUpdateAPI">
            Update Successful
          </div>
          <br>
              <div style="" class="input_container">
                <div class="label" style="flex:1">
                  API key
                </div>
                <div style="flex:3">
                  <input class="input_account" [disabled]="isDis" [(ngModel)]="apiKey">
                </div>
              </div>
              <div style="" class="input_container">
                <div class="label" style="flex:1">
                  Security key
                </div>
                <div style="flex:3">
                  <input class="input_account" [disabled]="isDis" [(ngModel)]="securityKey">
                </div>
              </div>

              <div style=" justify-content: center;" class="input_container">
                <div
                  style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer; max-width: 100px; text-align: center;"
                  (click)="submitAPIKey()" *ngIf="!isDis">
                  Save
                  </div>
                  <div
                    style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer; max-width: 100px; text-align: center;"
                    (click)="toggleEdit()" *ngIf="isDis">
                    Edit
                  </div>
                  </div>
                  </div>
</div>
<br>
<div style="display:flex; justify-content: center; " *ngIf="authService.isLoggedIn">

  <div style="flex:1; margin-right:10px; background-color:#F1F1F1; padding: 20px;">
    <h2>Password Details</h2>
    <div *ngIf="isUpdatePass" style="color: green;">
      Update Successful
    </div>

    <br>
      <!-- <div style="" class="input_container">
        <div class="label" style="flex:1">
          Old Password
          </div>
          <div style="flex:3">
            <input class="input_account" type="password" [disabled]="isDis" [(ngModel)]="password">
          </div>
          </div> -->
          <div style="" class="input_container">
            <div class="label" style="flex:1">
          Old Password
          </div>
          <div style="flex:3">
            <input class="input_account" type="password" [disabled]="isDis" [(ngModel)]="password">
          </div>
          </div>
      <div style=" justify-content: center;" class="input_container">

        <div
          style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer; max-width: 120px; text-align: center;"
          (click)="passChange()" >
          Change
        </div>
        </div>
        </div>
        <div style="flex:1; margin-left:10px; background-color:#F1F1F1; padding: 20px;"
          *ngIf="authService.userType === 'MASTER'">
          <h2>Edit about section</h2>
          <p class="label">This section will appear on your profile</p>
          <div style="color:green; font-size: 18px;" *ngIf="isUpdateDesc">
            Update Successful
          </div>
          <br>
          <div style="">
            <div>
              <textarea class="input_account" type="email" rows="7"
                style="border-radius: 20px; color:black; padding-top: 5px; width:100%" [(ngModel)]="description"
                [disabled]="isDis"></textarea>
            </div>
          </div>
        <br>
        <div style=" justify-content: center;  display: flex;">
        <div
          style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer;"
          (click)="submitDescription()" *ngIf="!isDis">
          Save
        </div>
        <div
          style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer;"
          (click)="toggleEdit()" *ngIf="isDis">
          Edit
        </div>
      </div>
    </div>
    </div>
    <br>
    <div style="display:flex; justify-content: center; background-color:#F1F1F1; padding:10px; line-height: 35px;">
      <div style="flex: 1;">
        <h2>Get Support</h2>
        <div class="label">
          <p>You can seek support if you wish to:</p>
          <ul>
            <li>Delete your account</li>
            <li>Need clarification</li>

            <li>ADD TO THIS</li>

          </ul>
          <br>
          You can send an email directly to get the support you need.
          </div>
          </div>
          <div style="flex: 1; align-self: center;">
            <div class="input_container">
              <input class="input_account" type="text" [disabled]="isDis" placeholder="subject" [(ngModel)]="subject">
            </div>
            <div>
              <textarea class="input_account" type="email" rows="5"
                style="border-radius: 20px; color:black; padding-top: 5px; width:100%" [(ngModel)]="support"
                [disabled]="isDis" placeholder="Enter Query Here"></textarea>
            </div>
            <div style=" justify-content: center;  display: flex;">
              <div *ngIf="isSupportSend" style="color:green;">
                Support Request Generated. We will get bact to you
              </div>
              <div
                style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer;"
                (click)="submitDescription()" *ngIf="!isDis">
                Save
              </div>
              <div
                style="background-color: #981B40; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer;"
                (click)="toggleEdit()" *ngIf="isDis">
                Edit
              </div>
            </div>
          </div>
          </div>
  </mat-drawer-container>
</div>
