<div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">KYC Details!</h3>
                <form>
                  <div class="form-label-group">
                    <input type="email" id="inputName" class="form-control" placeholder="Name" required autofocus>
                    <label for="inputEmail">Name</label>
                  </div>
  
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email ID" required>
                    <label for="inputEmail">Email</label>
                  </div>
                  <div class="form-label-group">
                    <input type="number" id="inputPhone" class="form-control" placeholder="Phone" required>
                    <label for="inputPhone">Phone</label>
                  </div>

                  <div class="form-label-group">
                    <div class="text-uppercase font-weight-bold mb-2">
                        Upload Document(PAN Card)
                      </div>
                    <input type="file" id="inputKYC" placeholder="PanCard" required>
                    <!-- <label for="inputPhone">Upload Document(PAN Card)</label> -->
                  </div>

                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" style="background-color: #981B40;" type="submit">Upload</button>
                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
