<div style="padding-top:70px; padding: 15px;">
  <h2>Explore Trader</h2>
  <br>
  <h3>Bio</h3>
  <br>
  <div class="row" style="align-items: center;">
    <div class="col-md-2 col-sm-12" style="text-align: center;">
      <img src="../../../assets/image 42.png" style="max-width:145px;"> <br> <br>

    </div>
    <div class="col-md-8 col-sm-12">

      <p>
      {{userData.description.description}}
      </p>
    </div>
  </div>
  <div style="width:100%; justify-content: center; align-items: center; display: flex; margin-top: 25px">
    <div style="font-size: 18px; font-weight: bold;">
      Risk Level
    </div>
    <div style="border:2px solid #91FF83; padding: 5px; margin-left: 10px;">
      1
    </div>
  </div>
  <h3>Performance</h3>

  <div style="display:flex; justify-content: center; align-items: center; flex-direction:column;"
    class='container-performance'>
    <div style="width:100%; max-width: 600px;">
      <select>
        <option>2020</option>
      </select>
    </div>

    <div
      style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;  max-width: 550px; border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
      <div style="flex: 1;">
        <b>Total</b>
      </div>
      <div style="flex: 1; text-align: right;">
        <b>18.74</b>
      </div>
    </div>
    <div
      style="display:flex; margin-top: 15px; padding-bottom: 15px; font-size:15px; width:100%;  max-width: 550px; border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
      <div style="flex: 1;">
        November
      </div>
      <div style="flex: 1; text-align: right; color: #308725;">
        18.74
      </div>
    </div>
    <div
      style="display:flex; margin-top: 15px; padding-bottom: 15px; font-size:15px; width:100%;  max-width: 550px; border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
      <div style="flex: 1;">
        October
      </div>
      <div style="flex: 1; text-align: right; color:#e74c3c">
        -18.74
      </div>
    </div>
  </div>
  <br>
  <h3>Open Position</h3>
  <br>
  <div
    style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;   justify-content: center;">
    <div style="width:100%; max-width: 550px;">
      <ngx-charts-bar-vertical-stacked Fit Container="true" [results]="saleData">
      </ngx-charts-bar-vertical-stacked>
    </div>

  </div>
  <div style="display:flex; justify-content: center; align-items: center; flex-direction:column;">
    <div
      style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;  max-width: 550px; border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
      <div style="flex: 1;">
        <b>TSLA</b> <br>
        <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.81
      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.34
      </div>
    </div>
    <div
      style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;  max-width: 550px; border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
      <div style="flex: 1;">
        <b>TSLA</b> <br>
        <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.81
      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.34
      </div>
    </div>
    <div
      style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;  max-width: 550px; border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
      <div style="flex: 1;">
        <b>TSLA</b> <br>
        <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.81
      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.34
      </div>
    </div>
    <div
      style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;  max-width: 550px; border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
      <div style="flex: 1;">
        <b>TSLA</b> <br>
        <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.81
      </div>
      <div style="flex: 1; text-align: right; opacity: 0.8;">
        422.34
      </div>
    </div>
  </div>
</div>
