<!-- <div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h1 style="color: black; font-size: 45px; line-height:45px">Who are we?</h1><br>
        <p class=" mb-4"> We are a Melbourne based startup specialising in cryptocurrency trading. Our goal is to
          provide a user-friendly experience to new crypto traders looking to minimise their trading risks.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../assets/finance.svg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="../../assets/investing.svg" alt="" class="img-fluid mb-4 mb-lg-0">
      </div>
      <div class="col-lg-6">
        <h1 style="color: black; font-size: 45px; line-height:45px">What do we offer?</h1><br>

        <p class="mb-4">Our system is designed for you. We researched, and tested to ensure a user-friendly system that
          allows you to trade and stay in control while having your trading experience managed by a professional. With
          Kazcade you can even copy the trades of master traders and reap profits, even while you sleep. On average our
          clients profit (percentage) annually, using our system.</p>
      </div>
    </div>
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <h1 style="color: black; font-size: 45px; line-height:45px">Our Values</h1><br>

        <p class=" mb-4"> <b>Innovation:</b> &nbsp; We are a Melbourne based startup specialising in cryptocurrency
          trading. Our
          goal is to
          provide a user-friendly experience to new crypto traders looking to minimise their trading risks.</p>
        <p class=" mb-4"> <b>Trust:</b> &nbsp; We keep things transparent so you can feel safe using our system</p>
        <p class=" mb-4"> <b>Freedom:</b> &nbsp; We want to empower our clients and for this reason, we celebrate and
          constantly
          work towards improving freedom in our platform.
        </p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../assets/people.svg" alt=""
          class="img-fluid mb-4 mb-lg-0"></div>
    </div>
  </div>
</div> -->
<div style="width: 100%;text-align: center; margin-top:20px; margin-bottom: 20px; padding: 64px;">
  <h1 style="color: black; font-size: 80px; font-weight:bold; line-height:45px; margin-top:70px">About us</h1>
  <br>

</div>
<div style="max-width: 1000px; margin-top: 50px; margin: auto; text-align: center; font-size: 40px; line-height:45px">
  We believe crypto is the future. Our vision is to spread cryptocurrency knowledge so that it is accessibly and easy to
  learn for everyone. Copying is one of the safest methods to learn while you understand the foundations of trading
  cypto.
</div>
<br>
<br>
<hr style="border: 1px solid #981B40;">
<div style="width: 100%;text-align: center; margin-top:20px; margin-bottom: 20px; padding: 64px;">
  <h1 style="color: black; font-size: 80px; font-weight:bold; line-height:45px; margin-top:70px">What do we offer?</h1>
  <br>

</div>
<div style="max-width: 1000px; margin-top: 50px; margin: auto; text-align: center; font-size: 40px; line-height:45px">
  Our system is designed for you. We researched, and tested to ensure a user-friendly system that allows you to trade
  and stay in control while having your trading experience managed by a professional. With Kazcade you can even copy the
  trades of master traders and reap profits, even while you sleep. On average our clients profit (percentage) annually,
  using our system.
</div>
<br>
<br>
<hr style="border: 1px solid #981B40;">

<div style="width: 100%;text-align: center; margin-top:20px; margin-bottom: 20px; padding: 64px;">
  <h1 style="color: black; font-size: 80px; font-weight:bold; line-height:45px; margin-top:70px">What are we driven by ?
  </h1>
  <br>

</div>
<div style="width: 100%;display: flex; justify-content: center;">
  <div
    style="max-width: 600px;padding:30px; background-color:#981B40; color:white; text-align:center; box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);">
    <div style="font-size:40px;">
      Trust
    </div>
    <br>
    <br>
    <div style="font-size: 20px;line-height:25px">
      We take your trust seriously. It’s important to us that you have a good experience and for this reason We keep
      things transparent so you can feel safe using our system.
      <br>
      <br>

    </div>
  </div>
</div>
<br>
<br>
<div style="width: 100%;display: flex; justify-content: center;">
  <div
    style="max-width: 600px;padding:30px; background-color:#981B40; color:white; text-align:center; margin-right: 10px;box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);">
    <div style="font-size:40px;">
      Innovation
    </div>
    <br>
    <br>
    <div style="font-size: 20px;line-height:25px">
      We love making stuff easy. We are constantly trialling and testing to provide you the best tools to help you
      profit. We are dedicated to constantly improve to give you the best experience. Innovation is a key value to
      support our success.

    </div>
  </div>
  <div
    style="max-width: 600px;padding:30px; background-color:#981B40; color:white; text-align:center; box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.25);">
    <div style="font-size:40px;">
      Freedom
    </div>
    <br>
    <br>
    <div style="font-size: 20px;line-height:25px">
      Whether you are a copier or master trader for Kazcade, we are dedicated to providing you a flexible experience
    </div>
  </div>
</div>
