
  <!-- Links (sit on top) -->
  <!-- <div class="w3-top">
    <div class="w3-row w3-large" style="background-color: white; padding: 1%;">
      <div class="w3-col s3"> -->
        <!-- <a href="#" class="w3-button w3-block">Home</a> -->
        <!-- <a mat-list-item [routerLink]="''" style="color: #981B40; text-decoration: none;">
          <img src="../assets/Kazcade.png" alt="" style="height: 80%; width: 50%;">
        </a>
      </div>
      <div class="w3-col s2">
        <a href="#plans" class="w3-button w3-block" [routerLink]="'trading'">Markets</a>
      </div>
      <div class="w3-col s2">
        <a href="#about" class="w3-button w3-block" [routerLink]="'home'">About</a>
      </div>
      <div class="w3-col s2">
        <a href="#about" class="w3-button w3-block" [routerLink]="'market'">News</a>
      </div>
      <div *ngIf="this.authService.isLoggedIn" class="w3-col s3" style="text-align:center;">
        <p class="w3-block" *ngIf="username()">
          <button mat-stroked-button style="background-color:#981B40; color:white;" [matMenuTriggerFor]="appMenu">
            Hi, {{this.name}}
          </button>
          <mat-menu #appMenu="matMenu">
            <button *ngIf="this.authService.isLoggedIn" mat-menu-item [routerLink]="'kyc'"><mat-icon>info</mat-icon> Complete Your KYC</button>
            <button *ngIf="this.authService.isLoggedIn" mat-menu-item [routerLink]="'dashboard'"><mat-icon>perm_identity</mat-icon> Dashboard</button>
            <button *ngIf="this.authService.isLoggedIn" mat-menu-item [routerLink]="'history'"><mat-icon>history</mat-icon> Trade History</button>
            <button *ngIf="this.authService.isLoggedIn" mat-menu-item [routerLink]="'followerList'">
              <mat-icon>people</mat-icon>Followers
            </button>
            <button *ngIf="this.authService.isLoggedIn" mat-menu-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</button>
          </mat-menu>
        </p>
      </div>
      <div *ngIf="!this.authService.isLoggedIn" class="w3-col s3" style="text-align:center;">
        <button mat-stroked-button  [routerLink]="'login'" style="background-color: #981B40; color: white;" class="btn-block">Sign In</button>
      </div>
    </div>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:absolute; z-index:10000; width:100%;"
      *ngIf="router.url !== '/admin'">
      <a class="navbar-brand" href="#">
        <img src="../assets/kazcade-10.svg" alt="" style="width:150px">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item " routerLinkActive="active" [routerLink]="'trading'">
            <a class="nav-link">Market <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLink]="'about'">
            <a class="nav-link">About</a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLink]="'news'">
            <a class="nav-link">News</a>
          </li>
          <li class="nav-item highlightButton" [routerLink]="'login'" *ngIf="!this.authService.isLoggedIn" style="">
            <a class="nav-link" style="color:white;">Login</a>
          </li>
          <li class="nav-item dropdown" *ngIf="this.authService.isLoggedIn"
            style=" padding-left: 15px; padding-right: 15px; border-radius: 15px;">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" *ngIf="username()">
              Hi, {{this.name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:white; opacity:1;">
              <a class="dropdown-item" *ngIf="this.authService.isLoggedIn" [routerLink]="'kyc'">
                <mat-icon>info</mat-icon> Complete Your KYC
              </a>
              <a class="dropdown-item" *ngIf="this.authService.isLoggedIn" [routerLink]="'dashboard'">
                <mat-icon>perm_identity</mat-icon> Dashboard
              </a>
              <a class="dropdown-item" *ngIf="this.authService.isLoggedIn" [routerLink]="'history'">
                <mat-icon>history</mat-icon> Trade History
              </a>
              <a class="dropdown-item" *ngIf="this.authService.isLoggedIn " [routerLink]="'settings'">
                <mat-icon>settings</mat-icon> Settings
              </a>
              <a class="dropdown-item" *ngIf="this.authService.isLoggedIn && authService.userType === 'COPY'"
                [routerLink]="'followerList'">
                <mat-icon>people</mat-icon>Following
              </a>
              <a class="dropdown-item" *ngIf="this.authService.isLoggedIn" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon> Logout
              </a>
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="this.authService.isLoggedIn"
            style=" padding-left: 15px; padding-right: 15px; border-radius: 15px;">
            <a class="nav-link" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" *ngIf="username()">
              <mat-icon style="transform: translateY(2px);">notifications</mat-icon>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2"
              style="background-color:white; opacity:1; word-wrap: break-word;transform: translateX(-450px);">
              <p class="dropdown-item" *ngFor="let item of notification" style="font-size: 14px;">
                {{item.msg}}
              </p>

            </div>
          </li>
          </ul>
          </div>
          </nav>
          <div style="background-color: #ffffff;">
            <router-outlet style="position:absolute; z-index:1;margin-top: 30px;"></router-outlet>
          </div>
          <footer class="bg-light text-center " style="padding-top: 35px; background-color:#ffffff;">
            <!-- Grid container -->
            <div class="container p-4">
              <div class="row">
                <div class="col-md-4 col-xs-6" style="text-align:left">
                  <b style="font-size:20px; color:#ACACAC">Kazkade</b>
                  <div style="font-size: 20px; margin-top: 10px;">
                    About Kazcade
                  </div>
                  <div style="font-size: 20px; margin-top: 10px;">
                    Give us feedback
                  </div>
                  <div style="font-size: 20px; margin-top: 10px;">
                    Support
                  </div>
                </div>
                <div class="col-md-4 col-xs-6" style="text-align:left;">
                  <b style="font-size:20px; color:#ACACAC">My account</b>
                  <div style="font-size: 20px; margin-top: 10px;">
                    Dashboard
                  </div>
                  <div style="font-size: 20px; margin-top: 10px;">
                    Account settings
                  </div>
                </div>
                <div class="col-md-4 col-xs-6" style="text-align: left;">
                  <b style="font-size:20px; color:#ACACAC; ">Other</b>
                  <div style="font-size: 20px; margin-top: 10px;">
                    Terms and Conditions
                  </div>
                  <div style="font-size: 20px; margin-top: 10px;">
                    Privacy policy
                  </div>
                </div>
              </div>
              <!-- Section: Social media -->

              <!-- Section: Social media -->

            </div>
                  <!-- Grid container -->

                  <!-- Copyright -->
                  <div class="text-center p-3" style="">
                    © 2021 Copyright:
                    <a class="text-dark">Kazcade</a>
                  </div>
                  <!-- Copyright -->
