<br>
<br>
<div class="w3-row-padding" id="plans">
  <div class="w3-center w3-padding-64" style="padding-bottom: 0px !important;">
    <h1 style="color: black; font-size: 40px; font-weight:bold; line-height:45px">Terms And Condition</h1>
    <br>
  </div>
</div>
<div class="w3-row-padding" id="plans">
  <div class="w3-left w3-padding-64" style="padding-bottom: 0px !important; padding: 10%;">
    <h2>THIS IS A RISK WARNING FOR ALL USERS WHO ARE CONSIDERING INVESTING WITH KAZCADE.
    </h2>
    <p>This website’s products and services are provided by Kazcade PTY LTD.
    </p>
    <p>
      Trading crypto currency always comes with risk. You have a high risk of losing money rapidly due to leverage.
      These products are not suitable for everyone and It is your duty to understand how these products work and whether
      you are able to take the high risk of losing your money. When necessary it is your duty to seek independent
      advice.
    </p>
    <p>
      Kazcade does not accept any users or residents from Japan, United States of America, Saint Vincent and the
      Grenadines, Algeria, Ecuador, Syria, Iran, North Korea or Sudan,Canada, United States minor outlying islands,
      American Samoa, Russian Federation and the countries or territories where its activity shall be especially
      licensed, accredited or regulated by other ways. you shall check your applicable law and be fully responsible for
      any negative impact arisen from your residence country regulations. if you are travelling to any of these
      countries, you acknowledge that our services may be unavailable and/or blocked in such countries.
    </p>
    <p>
      Before you trade using Kazcade Services with margin, you should carefully consider the terms and conditions of
      this website, to the extent necessary, consult an appropriate lawyer, accountant, or tax professional. If you
      disagree with any of the terms on the Kazcade website then you must not use this website, and to the extent
      permitted by law, you agree not to hold any of the company and its respective past, present and future employees,
      officers, directors, contractors, consultants, equity holders, suppliers, vendors, service providers, parent
      companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns liable for any
      losses or any special, incidental, or consequential damages arising from, or in any way connected, to the trading
      with margin, including losses associated with the trading with margin.
    </p>
    <h2>Kazcade accepts participants if:</h2>
    <p>
      The person is at least 18 years of age, meets all other eligibility criteria and residency requirements, and is
      fully able and legally competent to use the Website, enter into agreement with Kazcade and in doing so will not
      violate any other agreement to which the person is a party;

    </p>
    <p>
      The person has necessary and relevant experience and knowledge to deal with margin trading, cryptocurrencies and
      Blockchain-based systems, as well as full understanding of their framework, and is aware of all the merits, risks
      and any restrictions associated with margin trading, cryptocurrencies and Blockchain-based systems, as well as
      knows how to manage them, and is solely responsible for any evaluations based on such knowledge;
      Is not a foreign or domestic PEP.
    </p>
    <p>
      The person will not be using the Website for any illegal activity, including but not limited to money laundering
      and the financing of terrorism;
      Keep in mind that trading with margin may be subject to taxation. You are solely responsible for withholding,
      collecting, reporting, paying, settling and/or remitting any and all taxes to the appropriate tax authorities in
      such jurisdiction(s) in which You may be liable to pay tax. Kazcade shall not be responsible for withholding,
      collecting, reporting, paying, settling and/or remitting any taxes (including, but not limited to, any income,
      capital gains, sales, value added or similar tax) which may arise from Your participation in the trading with
      margin.

    </p>
    <p>
      Content, research, tools, and coin symbols are for educational and illustrative purposes only and do not imply a
      recommendation or solicitation to buy or sell a particular asset or to engage in any particular investment
      strategy. The projections or other information regarding the likelihood of various investment outcomes are
      hypothetical in nature, are not guaranteed for accuracy or completeness, do not reflect actual investment results,
      do not take into consideration commissions, margin interest and other costs, and are not guarantees of future
      results. All investments involve risk, losses may exceed the principal invested. You alone are responsible for
      evaluating the merits and risks associated with the use of our systems, services or products.
    </p>
  </div>
</div>
