<div style="display: flex; justify-content:center;width:100%; margin-left: 15px; max-height: 600px;">
  <div class="snip1404" style="display:flex; justify-content: center">
    <!-- <div class="plan">
      <header>
        <h4 class="plan-title" style="padding-bottom: 12px;   font-size: 20px;
                                                                                ">

          Basic
          </h4>
          <div class="plan-cost" *ngIf="this.authService.userType !== 'MASTER'"><span class="plan-price">$29.99</span><span
              class="plan-type">/month</span></div>
          </header>
          <ul class="plan-features">
            <li>
              <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
              Copy trading (Spot market)
            </li>
            <li>
              <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Customer support
            </li>
            <li>
              <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Trading View Integration
            </li>
            <li>
              <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>One Master Trader To Copy
            </li>
            <li>
              <div style="display:flex;">
                <div>
                  <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
                </div>
                <div>
                  Trading Notification (Trade Taken By Master Trader)
                  via SMS / Email
                </div>
              </div>
            </li>
            <br *ngIf=" this.authService.userType !== 'MASTER'">
            <br *ngIf=" this.authService.userType !== 'MASTER'">
            <br *ngIf=" this.authService.userType !== 'MASTER'">
            <br *ngIf=" this.authService.userType !== 'MASTER'">
            <br>
    </ul>
  <div class="plan-select"
    *ngIf="this.authService.userType !== 'MASTER' && this.authService.userType !==  'undefined' &&  this.authService.userType !==  undefined">
    <a (click)="selectPlan('Basic')"
      *ngIf="this.authService.subscription !== 'Basic'  ">Select Plan</a>
    <a *ngIf="this.authService.subscription == 'Basic'">Selected</a>

  </div>
  <p *ngIf="this.authService.userType ===  'undefined' ||  this.authService.userType ===  undefined"
    style="text-align:center;">
    Please Select A User Type
  </p>
  </div> -->
  <div class="plan featured" style="margin-right:40px;">
    <header>
      <div style="display:flex; width:100%; justify-content:center; padding-left: 10%;">
        <div>
          <h4 class="plan-title"
          style="padding-bottom: 4px;  text-align: center; font-size: 25px;
                                                                                                                                                        ">
          Beginner

          </h4>
        </div>
        <div>
          <img src="../../assets/Daco_6016606.png"
            style="position:inherit; width: 50px; height:50px; transform:translateX(20px) translateY(10px)">
        </div>
        </div>
        <div class="plan-cost" *ngIf=" this.authService.userType !== 'MASTER'"><span class="plan-price">$59.99</span><span
            class="plan-type">/month</span></div>
        </header>
        <ul class="plan-features" style="padding-bottom:45px">
          <li>
            <div style="display:flex;">
              <div>
                <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
              </div>
              <div>
                Automated copy trading (USDT futures market).
              </div>
            </div>
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Trading view integration.
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>One master trader to copy at a time.
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Trading notifications
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Customer support
          </li>


          <li style="visibility:hidden">
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>One Master Trader To Copy
          </li>
          <li style="visibility:hidden">
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon> Trading Notification (Trade Taken By Master Trader)
            via SMS / Email
          </li>

          </ul>
  <div class="plan-select"
    *ngIf="this.authService.userType !== 'MASTER' && this.authService.userType !==  'undefined' &&  this.authService.userType !==  undefined">
    <a (click)="selectPlan('Intermediate')"
      *ngIf="this.authService.subscription !== 'Intermediate' && this.authService.userType !== 'MASTER'">Select Plan</a>
    <a *ngIf="this.authService.subscription == 'Intermediate'">Selected</a>
  </div>
  <p *ngIf="this.authService.userType ===  'undefined' ||  this.authService.userType ===  undefined"
    style="text-align:center;">
    Please Select A User Type
  </p>
  </div>
  <div class="plan" style="margin-left:40px;">
    <header>
      <h4 class="plan-title" style="padding-bottom: 4px;   font-size: 25px;">
        Professional
        </h4>
        <div style="display:flex; width:100%; justify-content:flex-end; margin-top: -50px; padding-right: 25px;">
          <div>
            <img src="../../assets/Daco_6016606.png" style="position:inherit; width: auto; height:80px; visibility: hidden;">
          </div>
        </div>
        <div class="plan-cost" *ngIf="this.authService.userType !== 'MASTER'"><span class="plan-price">$74.99</span><span
            class="plan-type">/month</span></div>
        </header>
        <ul class="plan-features">
          <li>
            <div style="display:flex;">
              <div>
                <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
              </div>
              <div>
                Automated copy trading (USDT futures market).
              </div>
            </div>
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Trading view integration.
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>One master trader to copy at a time.
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Trading notifications
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Customer support
          </li>
          <li>
            <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>Self-trading.
          </li>
          <li>
            <div style="display:flex;">
              <div>
                  <mat-icon [ngStyle]="{'color':'green'}">done</mat-icon>
                  </div>
                  <div>
                  Manual copy trading (Adjustable Capital sizing [%])
                  </div>
                  </div>
                  </li>


          </ul>
  <div class="plan-select"
    *ngIf="this.authService.userType !== 'MASTER' && this.authService.userType !==  'undefined' &&  this.authService.userType !==  undefined">
  <a (click)="selectPlan('Premium')" *ngIf="this.authService.subscription !== 'Premium'  ">Select Plan</a>
  <a *ngIf="this.authService.subscription == 'Premium'">Selected</a>

</div>
<p *ngIf="this.authService.userType ===  'undefined' ||  this.authService.userType ===  undefined"
  style="text-align:center;">
  Please Select A User Type
</p>
</div>
    </div>
</div>
