<!-- <div style="padding: 10%; height: 100%;">
    <h2>
        Master Traders who you would like to copy:
    </h2>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel hideToggle *ngFor="let i of arr; let j = index" [attr.data-index]="j">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{i.user[0].full_name}}
            </mat-panel-title>
            <mat-panel-description>
                {{i.user[0].email}}
                <button mat-stroked-button style="background-color: #981B40; color: white;" class="btn-block">Copy</button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>All recent trades and Performance.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div> -->
<div style="padding-top: 140px; padding-left: 15px; padding-right: 15px;">
  <h2>
    Explore Traders: &nbsp; <span style="font-weight:bold;  color: red; ">You can only follow one
      master trader at a time</span>
  </h2>
  <div style="display:flex;  flex-direction: column; align-items: center; min-height: 70vh; width: 100%;"
    *ngIf="!isLoaded">
    <div>
      <mat-spinner class="uploader-status"></mat-spinner>
    </div>
    </div>

  <div style="display:flex; flex-direction: column; align-items: center;" *ngIf="isLoaded">
<div style="display: flex; max-width:1500px; width: 100%; align-items: center; margin-top:15px;"
  *ngFor="let item of arr; let i = index;">

      <div style="flex: 1;">
        <img src="../../assets/image 42.png" style="max-width:70px;" *ngIf="item.user[0].image_url === undefined">
        <img [src]="item.user[0].image_url" style="max-width:70px;" *ngIf="item.user[0].image_url !== undefined">

      </div>
      <div style="font-size:20px; font-weight:bold; margin-left: 20px; flex: 1;">
        {{item.user[0].full_name}}
      </div>

      <div style="flex: 1; display: flex; justify-content:center;">
        <div style=" color: red; font-size:20px; font-weight:bold;"
          *ngIf="item.balance !== {} && item.balance.totalUnrealizedProfit.indexOf('-') > -1">
          {{item.balance.totalUnrealizedProfit }}
        </div>
        <div style=" color: #308725; font-size:20px; font-weight:bold;"
          *ngIf="item.balance !== {} && item.balance.totalUnrealizedProfit.indexOf('-') === -1">
          {{item.balance.totalUnrealizedProfit }}
        </div>
        <div style=" color: #308725; font-size:20px; font-weight:bold;" *ngIf="item.balance.totalUnrealizedProfit == undefined">
          0.0000000
        </div>
        </div>

      <div style="flex: 1; display: flex; justify-content:center;">
        <button mat-raised-button (click)="viewMaster(item)">View</button>
      </div>
      <div style="flex: 1; display: flex; justify-content:center;">
        <button mat-raised-button data-toggle="modal" data-target="#exampleModal" (click)="selectId(item.id)"
          *ngIf="followerId.indexOf(item.id) === -1" style="background-color:#981B40; color:white">Follow</button>
        <button mat-raised-button data-toggle="modal"  (click)="unFollow(item.id)"
          *ngIf="followerId.indexOf(item.id)  > -1">Unfollow</button>
      </div>
      <div style="flex: 1; font-size:20px; font-weight:bold; text-align: center;">
        <div style="font-weight:bold; opacity: 0.8;" *ngIf="i === 0">Followers <br><br></div> {{item.followersCount}}
      </div>
      <div style="flex: 1; font-size:20px; font-weight:bold; text-align: center;">
        <div style="font-weight:bold; opacity: 0.8;" *ngIf="i === 0">Followers Equity <br><br></div>
        {{item.allFollowersBalance}}
      </div>
      </div>
      </div>
      </div>



      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Select Follower Type</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- <div style="display:flex; justify-content:center; align-items: center; ">
                            <div>
                              <button type="button" class="btn btn-primary" data-dismiss="modal"
                                (click)="followmasterTrader('AUTO')">Automatic</button> &nbsp;
                              <button type="button" class="btn btn-primary" data-dismiss="modal"
                                (click)="followmasterTrader('MANUAL')">Manual</button>
                            </div>
                          </div> -->
              <div style="display: flex; ">
                <div style="font-size:18px; font-weight:bold;">
                  Amount
                </div>
                <div style="margin-left: 25px;">
                  <input type="number" step="0.00001" [disabled]="disabled" [(ngModel)]="amount">
                </div>
              </div>
              <br>
              <div>
                <input type="checkbox" placeholder="Automatic" (change)="toggleCheckbox($event)" id="isautomatic">&nbsp;<label
                  for="isautomatic">Automatic</label>
              </div>
              <div style="color:red" *ngIf="followMsg !== 'success'">
                {{followMsg}}
              </div>
              <div style="color:green" *ngIf="followMsg === 'success'">
                {{followMsg}}
              </div>
              <div style="display:flex; justify-content: center; margin-top:40px;" class="input_container">

                <div
                  style="background-color: #981B40; width:fit-content; padding-left: 25px; padding-right: 25px; padding-top: 10px; padding-bottom: 10px; color: white; border-radius: 25px; cursor: pointer; "
                  (click)="followmasterTrader()">
                  Save
                </div>
                <button id="closeModalButton" [hidden]="true" data-toggle="modal" data-target="#exampleModal" class="btn btn-default"
                  data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
      </div>

