<div style="text-align:centre; padding: 10%; height: 100%;">
  <div style="display:flex; justify-content:space-between">
    <div>
      <h1 style="color: black;"><b>History</b></h1><br>
</div>
<div>
  <mat-form-field appearance="fill">
    <mat-label>Market Type</mat-label>
    <mat-select>
      <mat-option value='Future' (click)="futureOrders()">
        Future
      </mat-option>
      <mat-option value='Spot' (click)="spotOrders()">
        Spot
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>
    <table class="table" *ngIf="arr && !isLoading">
        <!-- ADD HEADERS -->
        <thead>
        <tr>
            <th>Currency</th>
            <th>Units</th>
            <th>Avg Open</th>
            <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pred of orderData; trackBy: trackById;">
          <td><br>{{pred.symbol}}</td>
          <td *ngIf="isFuture"><br>{{pred.executedQty}}</td>
          <td *ngIf="!isFuture"><br>{{pred.quoteQty}}</td>

            <td><br>
              <!-- <p *ngIf="check(pred.cur_price,pred.pr_price)" style="color: green; font-size: xx-small;">
                <span style="color: black; font-size: 14px;">${{(pred.pr_price)}} </span>
                <mat-icon style="vertical-align: middle;"  [ngStyle]="{'color': 'green'}">trending_up</mat-icon>
                (+{{((pred.pr_price-pred.cur_price)*100/pred.cur_price).toFixed(2)}}%)
              </p> -->
              <p style="color: red; font-size: xx-small;">
                <span style="color: black; font-size: 14px;" *ngIf="isFuture">{{pred.avgPrice}} </span>
                <span style="color: black; font-size: 14px;" *ngIf="!isFuture">{{pred.price}} </span>

              </p>
            </td>
<td>{{pred.time | date : 'medium'}}</td>

        </tr>
      </tbody>
    </table>
</div>
