<h1 style="color: #981B40; padding-top: 70px; padding-left: 15px;"><b>Dashboard</b></h1>

<mat-form-field appearance="fill" style="margin-top:10px; margin-left: 15px;">
  <mat-label>Market Type</mat-label>
  <mat-select>
    <mat-option value="Future" (click)="toggleFuture()">
      Future
    </mat-option>
    <mat-option value="Spot" (click)="togggleSpot()">
      Spot
    </mat-option>
  </mat-select>
</mat-form-field>

<div
  style="height: 100%; padding-left: 15px; padding-top: 20px; min-height:80vh; display:flex; justify-content: center; align-items: center;">

  <!-- <table class="centered" style=" width: 100%;">
        <tr >
            <td *ngIf="this.authService.binanceuser" style="width: 50%;">
                <kendo-chart class="second">
                    <kendo-chart-series>
                      <kendo-chart-series-item
                          type="donut" [data]="data"
                          categoryField="kind" field="share">
                        <kendo-chart-series-item-labels
                          [content]="labelContent"
                          color="#fff" background="none">
                        </kendo-chart-series-item-labels>
                      </kendo-chart-series-item>
                    </kendo-chart-series>
                    <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                </kendo-chart>

                <h1>Total {{currency}}: ${{amount}}</h1>
            </td>
            <td *ngIf="!this.authService.binanceuser" >
                <div style="text-align:center">
                    <button mat-stroked-button [routerLink]="'/keys'" style="background-color: #981B40; color: white; font-size: larger;" class="btn-block">Connect to Binance</button>
                </div>
            </td>
            <td colspan="2" style="text-align: center; margin: 20px;">
                <div style="text-align:center; margin: 20px;">
                    <button mat-stroked-button style="background-color: white; color: #981B40; font-size: larger;" routerLink="/settings"
                      class="btn-block"><b>Register as Master Trader</b></button>
                </div>
                <div style="text-align:center; margin: 20px;">
                    <button mat-stroked-button [routerLink]="'/masterlist'" style="background-color: #981B40; color: white; font-size: larger;" class="btn-block">Register as Copy trader</button>
                </div>
            </td>
        </tr>
    </table> -->
    <div style="display:flex; width:100%; margin: auto;">
      <div style="flex:3">
        <div style="display:flex">
          <div *ngIf="dataArray.length > 0">
            <ngx-charts-pie-chart [view]='view' [results]="dataArray" scheme="picnic">
            </ngx-charts-pie-chart>
          </div>
          <div *ngIf="dataArray.length === 0" style="align-self: center; justify-self: center; text-align: center; width:100%">
            <img src="../../assets/0bal.png" style="max-width:550px; margin: auto">
          </div>
          <div style="display:flex; flex-direction: column; justify-content: center; align-items: center; ">

            <div *ngFor="let item of dataArray" style="width:100%; margin-bottom: 15px;">
              <div style="font-weight: bold; color:#981B40; font-size:18px">{{ item.name }}</div>
              <div style="font-size:18px">{{ item.value }}</div>
            </div>
          </div>
        </div>

      </div>
      <div
        style="flex:2; display: flex; justify-content: center; align-items: center; flex-direction: column; border-left: 2px solid #981B40;">
        <div *ngIf="!this.authService.binanceuser"
          style="text-align: left; font-size: 32px; line-height: 38px; padding-left: 10px;">
          <h2 style="font-size: 42px; line-height:45px;">Thanks for signing up! <br> Lets get you started.</h2>
          <br>
          <div>
            <b>Step 1:</b>Connect to Binance
          </div>
          <br>
          <div>
            <b>Step 2:</b>Generate an API Key and secret
            key from Binance
          </div>
          <br>

          <div>
            <b>Step 3:</b>Click the button below and fill in the fields
          </div>
          <br>

        </div>
        <div *ngIf="dualSidePosition === true">
          <div style="font-size:33px; text-align: center; line-height: 32px; padding-left: 15px;">
            <b>Your hedge mode is on please switch it off to enable copy trades</b>
          </div>
        </div>
        <div style="text-align:center" *ngIf="!this.authService.binanceuser">
          <button mat-stroked-button [routerLink]="'/keys'"
            style="background-color: #981B40; color: white; font-size: larger;" class="btn-block">Connect to
            Binance</button>
        </div>
        <div style="text-align:center; margin: 20px;"
          *ngIf="this.authService.binanceuser && this.authService.userType !== 'MASTER' && this.authService.userType !== 'COPY'">
          <button mat-stroked-button style="background-color: white; color: #981B40; font-size: larger;" class="btn-block"
            (click)="registerMaster()"><b>Register as Master Trader</b></button>
        </div>
        <div style="text-align:center; margin: 20px;"
          *ngIf="this.authService.binanceuser && this.authService.userType !== 'MASTER'  && this.authService.userType !== 'COPY'">
          <button mat-stroked-button style="background-color: #981B40; color: white; font-size: larger;" class="btn-block"
            (click)="registerCopy()">Register as Copy
            trader</button>
        </div>
        <div style="text-align:center; margin: 20px;"
          *ngIf="this.authService.userType === 'MASTER' ||  this.authService.userType === 'COPY'">
          <button mat-stroked-button style="background-color: #981B40; color: white; font-size: larger;" class="btn-block"
            [routerLink]="['/profitLoss']" routerLinkActive="router-link-active">Profit And Loss
          </button>
        </div>
        <div style="text-align:center; margin: 20px;" *ngIf="this.authService.userType === 'COPY'">
          <button mat-stroked-button style="background-color: #981B40; color: white; font-size: larger;" class="btn-block"
            [routerLink]="['/masterlist']" routerLinkActive="router-link-active">Explore Traders
          </button>
        </div>
        <div style="text-align:center; margin: 20px;" *ngIf="this.authService.userType === 'MASTER'">
          <button mat-stroked-button style="background-color: #981B40; color: white; font-size: larger;" class="btn-block"
            [routerLink]="['/followerList']" routerLinkActive="router-link-active">Followers
          </button>
        </div>
      </div>
    </div>
</div>
