<div
  style="display: flex; justify-content: center; align-items: center; width:100vw; height: 100vh; background-color: #f1f1f1e5;">
  <div>
    <mat-card style="">
      <mat-card-title>Forgot Password</mat-card-title>
      <mat-card-content>
        Please input the new password
        <br>
        <br>
        {{error}}
        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="password" [(ngModel)]="newPassword">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" [(ngModel)]="confPassword">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="resetPassword()"
          style="margin:auto; text-align:center">Submit</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
