<h3 style="color:#981B40;
font-size: 30px;">Performance</h3>

<div style="display:flex; justify-content: center; align-items: center; flex-direction:column; min-width:500px;"
  *ngIf="pilData.length > 0">
  <div
    style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;   border-bottom: 2px solid rgba(128, 128, 128, 0.295);" *ngFor="let item of pilData">
    <div style="flex: 1;">
      <b>{{item.symbol}}</b> <br>

    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      {{item.unrealizedProfit}}
    </div>
  </div>

  </div>
<div *ngIf="pilData.length == 0">
  No Data To Display
</div>
