<h3 style="color:#981B40;
font-size: 30px;">Performance</h3>

<div style="display:flex; justify-content: center; align-items: center; flex-direction:column; min-width:500px;">
  <div
    style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;   border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
    <div style="flex: 1;">
      <b>TSLA</b> <br>
      <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.81
    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.34
    </div>
  </div>
  <div
    style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;   border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
    <div style="flex: 1;">
      <b>TSLA</b> <br>
      <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.81
    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.34
    </div>
  </div>
  <div
    style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;   border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
    <div style="flex: 1;">
      <b>TSLA</b> <br>
      <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.81
    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.34
    </div>
  </div>
  <div
    style="display:flex; margin-top: 55px; padding-bottom: 15px; font-size:20px; width:100%;  border-bottom: 2px solid rgba(128, 128, 128, 0.295);">
    <div style="flex: 1;">
      <b>TSLA</b> <br>
      <b style="font-size: 15px; color:#e74c3c">-8.64</b> &nbsp; <b style="font-size: 15px; color:#e74c3c">(-2.8%)</b>

    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.81
    </div>
    <div style="flex: 1; text-align: right; opacity: 0.8;">
      422.34
    </div>
  </div>
</div>
