<header class="w3-container w3-center"
  style="padding:128px 16px; color: white; text-align: center; background-image: url(../../assets/image\ 1.png); background-size:cover; background-position: center; ">
  <h1 class="w3-margin " style="color: white; margin-bottom:15px; font-size:60px; line-height: 105px;font-weight:bold;">
    Trading cryptos has never<br>been easier. It’s just copying.</h1>
  <br>
  <br>
  <p class="" style="color: white;max-width: 950px; font-size:30px; margin: auto; line-height: 45px;">Use Kazcade to
    copy the trades of professional crypto traders.
  </p>
  <br>
  <br>
  <button [routerLink]="'login'"
    style="text-decoration: none; padding: 20px 30px 20px 30px; background-color: #981B40; margin-top: 20px; color: white; font-size: 20px; border-radius: 25px; font-weight: bold; font-size: 35px;"
    class="">
    SIGN UP NOW
    </button>
</header>
<div class="w3-row-padding  w3-padding-18 w3-container">
  <div class=""><br></div>
  <div class=" w3-center " style="width:100%; text-align: center; ">
    <br>
    <h1 style="color: black; max-width: 1050px; font-size: 60px;margin: auto; font-weight:bold; line-height:80px">Be
      ready for the
      crypto boom with
      Kazcade.</h1><br>
    <br>
    <br>
    <p style="color: black; font-size: 30px; max-width: 1050px;margin: auto; line-height:55px">We provide you the
      opportunity to let
      someone else make
      the
      hard decisions
      for you. Use Kazcade’s user-friendly platform to swiftly copy master-traders within seconds.
    </p>
  <br>
</div>
<div class="w3-third"><br></div>
</div>
<hr style="border: 1px solid #981B40;">
<div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64" style="padding-bottom: 0px !important;">
      <h1 style="color: black; font-size: 60px; font-weight:bold; line-height:45px">PRICING</h1>
      <br>
      <p style="color: black; font-size: 30px; line-height:45px">Whatever your needs are, we have a plan for you.</p>
    </div>
    <br>
    <div style="width: 100%; display:flex; justify-content: center; margin-top: 20px;">
      <div>
        <div class="snip1404" style="display:flex; justify-content: space-between;">
          <div class="plan">
            <header>
              <h4 class="plan-title" style="padding-bottom: 12px;   font-size: 30px;
                                                                                      ">

                Basic
                </h4>
                <div class="plan-cost"><span class="plan-price">$24.99</span><span class="plan-type">/month</span></div>
                </header>
                <ul class="plan-features">
                  <li><i class="ion-checkmark"> </i>
                    Copy trading (Spot market)
                  </li>
                  <li><i class="ion-checkmark"> </i>Customer support</li>
                  <li><i class="ion-checkmark"> </i>1 Master trader to copy
                  </li>
                  <li><i class="ion-checkmark"> </i>Trading notifications</li>
                  <li><i class="ion-checkmark"> </i>Exchanges
                    (Binance)
                    Other</li>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
          </ul>
        <div class="plan-select"><a routerLink="deposit" (click)="selectPlan('Basic')">Select Plan</a></div>
        </div>
        <div class="plan featured">
          <header>
            <h4 class="plan-title"
              style="padding-bottom: 0px;   font-size: 30px;
                                                                                                                                                            ">

              Intermediate
              </h4>
              <div class="plan-cost"><span class="plan-price">$34.99</span><span class="plan-type">/month</span></div>
              </header>
              <ul class="plan-features">
                <li><i class="ion-checkmark"> </i>Copy trading (Spot market)</li>
                <li><i class="ion-checkmark"> </i>Copy trading (Futures market)</li>
                <li><i class="ion-checkmark"> </i>Customer support</li>
                <li><i class="ion-checkmark"> </i>3 Master trader to copy</li>
                <li><i class="ion-checkmark"> </i>Trading view integration
                </li>
            <li><i class="ion-checkmark"> </i>
              Trading notifications

            </li>
                <li><i class="ion-checkmark"> </i>
                  Exchanges
                  (Binance)
                  Other
                </li>
                <br>
                <br>
          </ul>
        <div class="plan-select"><a routerLink="deposit" (click)="selectPlan('Intermediate')">Select Plan</a></div>
        </div>
        <div class="plan">
          <header>
            <h4 class="plan-title"
              style="padding-bottom: 4px;   font-size: 30px;
                                                                                                                                                            ">

              Premium
              </h4>
              <div class="plan-cost"><span class="plan-price">$49.99</span><span class="plan-type">/month</span></div>
              </header>
              <ul class="plan-features">
                <li><i class="ion-checkmark"> </i>Copy trading (Spot market)</li>
                <li><i class="ion-checkmark"> </i>Copy trading (Futures market)</li>
                <li><i class="ion-checkmark"> </i>Customer support</li>
                <li><i class="ion-checkmark"> </i>Manual Trading</li>

                <li><i class="ion-checkmark"> </i>Unlimited Master trader to copy</li>
                <li><i class="ion-checkmark"> </i>Trading view integration
                </li>
                <li><i class="ion-checkmark"> </i>
                  Trading notifications

                </li>
                <li><i class="ion-checkmark"> </i>
                  Exchanges
                  (Binance)
                  Other
                </li>
                </ul>
          <div class="plan-select"><a routerLink="deposit" (click)="selectPlan('Premium')">Select Plan</a></div>
          </div>
          </div>
      </div>
      </div>

      </div>
      <br>
      <br>
      <hr style="border: 1px solid #981B40;">

  <!-- Grid -->
  <br>
  <br>
  <br>
  <div style="width: 100%;text-align: center; margin-top:20px; margin-bottom: 20px; padding: 64px;">
    <h1 style="color: black; font-size: 60px; font-weight:bold; line-height:45px">Reviews and testimonials</h1>
    <br>

  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="display: flex; justify-content: space-evenly;">
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;">
            <div>
              Kazcade has been helpful because I don’t have to be analysing the charts constantly before taking a
              position. The master traders that I copy do their best to analyse it for you and all you have to do is
              follow their calls... There are many more services that charge much higher than Kazcade. I recovered the
              money I paid for Kazcade over time. It’s just been all round great :)
            </div>
            <div style="width: 100%; text-align: right;">
              <div style="font-size:25px">-William</div>
            </div>
          </div>
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;">
            <div>
              Kazcade has been helpful because I don’t have to be analysing the charts constantly before taking a
              position.
              The master traders that I copy do their best to analyse it for you and all you have to do is follow their
              calls... There are many more services that charge much higher than Kazcade. I recovered the money I paid for
              Kazcade over time. It’s just been all round great :)
            </div>
            <div style="width: 100%; text-align: right;">
              <div style="font-size:25px">-Arienne</div>
            </div>
          </div>
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;">
            <div>
              “Kazcade isn’t just about the copytrading but also the support. Whatever questions I have, the traders that
              I copy are always there to help. They’ve been so supportive and patient when it comes to answering
              questions. If you’re looking for good support, Kazcade should be your choice.”
            </div>
            <br>
            <br>
            <div style="width: 100%; text-align: right;">
              <div style="font-size:25px">-Cornell</div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div style="display: flex; justify-content: space-evenly;">
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;">
            <div>
              “Kazcade isn’t just about the copytrading but also the support. Whatever questions I have, the traders that
              I copy are always there to help. They’ve been so supportive and patient when it comes to answering
              questions. If you’re looking for good support, Kazcade should be your choice.”
            </div>
              <div style="width: 100%; text-align: right;">
                <div style="font-size:25px">-William</div>
              </div>
              </div>
            <div
              style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;">
              <div>
                Kazcade has been helpful because I don’t have to be analysing the charts constantly before taking a position. The
                master traders that I copy do their best to analyse it for you and all you have to do is follow their calls... There
                are many more services that charge much higher than Kazcade. I recovered the money I paid for Kazcade over time.
                It’s just been all round great :)
              </div>
              <div style="width: 100%; text-align: right;">
                <div style="font-size:25px">-Arienne</div>
              </div>
            </div>
            <div
              style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;">
              <div>
                Kazcade has been helpful because I don’t have to be analysing the charts constantly before taking a position. The
                master traders that I copy do their best to analyse it for you and all you have to do is follow their calls... There
                are many more services that charge much higher than Kazcade. I recovered the money I paid for Kazcade over time.
                It’s just been all round great :)
              </div>
              <br>
              <br>
              <div style="width: 100%; text-align: right;">
                <div style="font-size:25px">-Cornell</div>
              </div>
            </div>
            </div>
            </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div style="width: 100%;text-align: center; margin-top:20px; margin-bottom: 20px; padding: 64px; font-size: 18px;">
    NOTE: These reviews have been altered to protect the identities of the reviewers and traders. These reviews are
    provided by feedback given by previous traders to assist you on your intention to sign up to Kazcade. These reviews
    SHOULD NOT be a driving reason to join Kazcade if you don’t have relevant experience or do not feel comfortable with
    making losses please be cautious before participating in trading with Kazcade. PLEASE READ OUR Terms BEFORE JOINING.

  </div>
<!-- Grid -->
