<header class="w3-container w3-center" style="background-color: white; padding:128px 16px; color: white;">
    <h1 class="w3-margin w3-jumbo" style="color: black;">Trading cryptos<br><br> has never
        been easier.</h1>
    <p class="w3-xlarge" style="color: black;">Use Kazcade to copy the trades of professional crypto traders.</p>
    <button [routerLink]="'login'" style="text-decoration: none; background-color: #981B40; border-radius: 25px; width: 20%;"
     class="w3-button w3-padding-large w3-large w3-margin-top">
        Sign Up Now!
    </button>
</header>
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
<div class="w3-third"><br></div>
<div class=" w3-center w3-third">
    <h1 style="color: black; font-size: 45px;">About</h1><br>
    <p style="color: black; font-size: 20px;">We believe crypto is the future. 
        Our vision is to spread cryptocurrency knowledge so that it is accessibly and easy to learn for everyone.
        Copying is one of the safest methods to learn while you understand the foundations of trading cypto. 
    </p>
</div>
<div class="w3-third"><br></div>
</div>
<div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64">
    <h1 style="color: black; font-size: 50px;">Pricing</h1><br>
      <p>Choose a pricing plan that fits your needs.</p>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-xlarge w3-padding-32" style="background-color: #981B40; color:white;">Basic</li>
        <li class="w3-padding-16"><b>10GB</b> Storage</li>
        <li class="w3-padding-16"><b>10</b> Emails</li>
        <li class="w3-padding-16"><b>10</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 10</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24" >
          <button class="w3-button w3-padding-large" style="background-color: #981B40; color:white;">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class="w3-xlarge w3-padding-32" style="background-color: #981B40; color:white;">Pro</li>
        <li class="w3-padding-16"><b>25GB</b> Storage</li>
        <li class="w3-padding-16"><b>25</b> Emails</li>
        <li class="w3-padding-16"><b>25</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-padding-large" style="background-color: #981B40; color:white;">Sign Up</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-margin-bottom">
      <ul class="w3-ul w3-border w3-center w3-hover-shadow">
        <li class=" w3-xlarge w3-padding-32" style="background-color: #981B40; color:white;">Premium</li>
        <li class="w3-padding-16"><b>50GB</b> Storage</li>
        <li class="w3-padding-16"><b>50</b> Emails</li>
        <li class="w3-padding-16"><b>50</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 50</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-padding-large" style="background-color: #981B40; color:white;">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>


  <!-- Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div style="text-align: center;">
      <h1 style="color: black; font-size: 45px;">Licensing and Accreditation</h1><br>
    </div><br>
    <div class="w3-content">
      <div class="w3-third w3-center">
        <img src="../../assets/lic.jpeg" alt="" style="width: 120%; height: 120%; margin-left: -35%;">
      </div>
      <div class="w3-twothird">
        <h1 style="color:black;">Lorem Ipsum</h1>
        <p class="w3-text-grey" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>


  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">Reviews and Testimonials</span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="../../assets/jane.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>Jane Doe</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <!-- <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="../../assets/team2.jpg" alt="Mike" style="width:100%">
        <div class="w3-container">
          <h3>Mike Ross</h3>
          <p class="w3-opacity">Art Director</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <!-- <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4">
        <img src="../../assets/team3.jpg" alt="Jane" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
          <p class="w3-opacity">Designer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
          <!-- <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>