<header class="w3-container "
  style="padding:128px 80px; color: white; text-align: left; background-image: url(../../assets/Chosen\ Design.png); background-size:cover; background-position: center; ">
  <h1 class=" "
    style="color: white; margin-bottom:15px; font-size:45px; line-height: 75px;font-weight:bold; text-align: left;">
    Crypto trading has never<br>been easier. It’s just copying.</h1>
  <br>
  <br>
  <p class="" style="color: white;max-width: 950px;  text-align: left; font-size:30px;  line-height: 45px;">
    Use Kazcade to
    copy the trades of professional crypto traders.
  </p>
  <br>
  <br>
  <div [routerLink]="'login'"
    style="text-decoration: none;  text-align:center; margin-left: -80px; padding: 20px 30px 20px 30px; background-color: #981B40; max-width: 500px; margin-top: 20px; color: white; font-size: 20px; border-radius: 0px 25px 25px 0px; font-weight: bold; font-size: 35px;"
    class="" *ngIf="!this.authService.isLoggedIn">
    Click to signup now >
    </div>
</header>
<div class="w3-row-padding  w3-padding-18 w3-container">
  <div class=""><br></div>
  <div class=" w3-center " style="width:100%; text-align: center; ">
    <br>
    <h1 style="color: black; max-width: 1050px; font-size: 45px;margin: auto; font-weight:bold; line-height:50px">Be
      ready for the
      crypto boom with
      Kazcade.</h1><br>
    <br>
    <br>
    <p style="color: black; font-size: 25px; max-width: 1050px;margin: auto; line-height:30px">We provide you the
      opportunity to let
      someone else make
      the
      hard decisions
      for you. Use Kazcade’s user-friendly platform to swiftly copy master-traders within seconds.
    </p>
  <br>
</div>
<div class="w3-third"><br></div>
</div>
<hr style="border: 1px solid #981B40;">
<div class="w3-row-padding" id="plans">
    <div class="w3-center w3-padding-64" style="padding-bottom: 0px !important;">
      <h1 style="color: black; font-size: 45px; font-weight:bold; line-height:45px">PRICING</h1>
      <br>
      <p style="color: black; font-size: 25px; line-height:45px">Whatever your needs are, we have a plan for you.</p>
    </div>
    <br>
    <div style="width: 100%; display:flex; justify-content: center; margin-top: 20px;">
      <div>
        <div class="snip1404" style="display:flex; justify-content: space-between;">
          <div class="plan">
            <header>
              <h4 class="plan-title" style="padding-bottom: 12px;   font-size: 25px;
                                                                                      ">

                Basic
                </h4>
                <div class="plan-cost" *ngIf="this.authService.userType !== 'MASTER'"><span class="plan-price">$19.99</span><span
                    class="plan-type">/month</span></div>
                </header>
                <ul class="plan-features">
                  <li><i class="ion-checkmark"> </i>
                    Copy trading (Spot market)
                  </li>
                  <li><i class="ion-checkmark"> </i>Customer support</li>
                  <li><i class="ion-checkmark"> </i>Trading View Integration
                  </li>
                  <li><i class="ion-checkmark"> </i>One Master Trader To Copy</li>
                  <li>
                    <div style="display:flex;">
                      <div>
                        <i class="ion-checkmark"> </i>
                      </div>
                      <div>
                        Trading Notification (Trade Taken By Master Trader)
                        via SMS / Email
                      </div>
                    </div>
                  </li>
                  <br *ngIf=" this.authService.userType !== 'MASTER'">
                  <br *ngIf=" this.authService.userType !== 'MASTER'">
                  <br *ngIf=" this.authService.userType !== 'MASTER'">
                  <br *ngIf=" this.authService.userType !== 'MASTER'">
                  <br>
          </ul>
        <div class="plan-select" *ngIf="this.authService.userType !== 'MASTER'"><a (click)="selectPlan('Basic')"
            *ngIf="this.authService.subscription !== 'Basic'  ">Select Plan</a>
          <a *ngIf="this.authService.subscription == 'Basic'">Selected</a>
        </div>
        </div>
        <div class="plan featured">
          <header>
            <h4 class="plan-title"
              style="padding-bottom: 0px;   font-size: 25px;
                                                                                                                                                            ">

              Intermediate
              </h4>
              <div class="plan-cost" *ngIf=" this.authService.userType !== 'MASTER'"><span class="plan-price">$34.99</span><span
                  class="plan-type">/month</span></div>
              </header>
              <ul class="plan-features">
                <li><i class="ion-checkmark"> </i>Copy trading (Spot market)</li>
                <li><i class="ion-checkmark"> </i>Copy trading (Futures market)</li>
                <li><i class="ion-checkmark"> </i>Automated Futures Copy Trading</li>
                <li><i class="ion-checkmark"> </i>Self Trading</li>

                <li><i class="ion-checkmark"> </i>Customer support</li>
                <li><i class="ion-checkmark"> </i>Trading view integration
                </li>
                <li><i class="ion-checkmark"> </i>One Master trader to copy</li>

                <li>
                  <div style="display:flex;">
                    <div>
                      <i class="ion-checkmark"> </i>
                    </div>
                    <div>
                      Trading Notification (Trade Taken By Master Trader)
                      via SMS / Email
                    </div>
                  </div>
                </li>
                <br>
                <br>
          </ul>
        <div class="plan-select" *ngIf="this.authService.userType !== 'MASTER'"><a (click)="selectPlan('Intermediate')"
            *ngIf="this.authService.subscription !== 'Intermediate' && this.authService.userType !== 'MASTER'">Select Plan</a>
          <a *ngIf="this.authService.subscription == 'Intermediate'">Selected</a>
        </div>
        </div>
        <div class="plan">

          <header>
            <h4 class="plan-title"
              style="padding-bottom: 4px;   font-size: 25px;
                                                                                                                                                            ">

              Premium

              </h4>
              <div class="plan-cost" *ngIf=" this.authService.userType !== 'MASTER'"><span class="plan-price">$49.99</span><span
                  class="plan-type">/month</span></div>


              </header>
              <ul class="plan-features">
                <li><i class="ion-checkmark"> </i>Copy trading (Spot market)</li>
                <li><i class="ion-checkmark"> </i>Copy trading (Futures market)</li>
                <li><i class="ion-checkmark"> </i>Automated Futures Copy Trading</li>
                <li>
                  <div style="display:flex;">
                    <div>
                      <i class="ion-checkmark"> </i>
                    </div>
                    <div>
                      Manual futures copy-trading
                      (Risk % change
                      Or capital sizing change)
                    </div>
                  </div>
                </li>
                <li><i class="ion-checkmark"> </i>Sell Trading</li>

                <li><i class="ion-checkmark"> </i>Customer support</li>
                <li><i class="ion-checkmark"> </i>Trading view integration
                </li>
                <li><i class="ion-checkmark"> </i>One Master trader to copy</li>
                <li>
                  <div style="display:flex;">
                    <div>
                      <i class="ion-checkmark"> </i>
                    </div>
                    <div>
                      Trading Notification (Trade Taken By Master Trader)
                      via SMS / Email
                    </div>
                  </div>
                </li>

                </ul>
          <div class="plan-select" *ngIf="this.authService.userType !== 'MASTER'">
            <a (click)="selectPlan('Premium')" *ngIf="this.authService.subscription !== 'Premium'">Select
              Plan</a>
            <a *ngIf="this.authService.subscription == 'Premium'">Selected</a>

          </div>
          </div>

          </div>
          <img src="../../assets/bs.png" style=" " class="margin-image">

          </div>

          </div>

      </div>
      <br>
      <br>
      <hr style="border: 1px solid #981B40;">
      <div class="w3-row-padding" id="plans">
        <div class="w3-center w3-padding-64" style="padding-bottom: 0px !important;">

          <p style="color: black; font-size: 45px; font-weight:bold; line-height:45px">Start using Kazcade today with a free 7
            day trial. <br>
            (No credit card required)</p>

          <br>
          <table class="table" style="max-width:800px; margin:auto; margin-top:50px;">
            <!-- ADD HEADERS -->
            <thead>
              <tr>
                <th>Starting Capital (User)</th>
                <th>Follower</th>
                <th>Master Trader</th>
                <th>Kazkade (Platform)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>$200 - $1000</td>
                <td>66%</td>
                <td>16%</td>
                <td>18%</td>

              </tr>
              <tr>
                <td>$1000 - $5000</td>
                <td>68%</td>
                <td>18%</td>
                <td>14%</td>

              </tr>
              <tr>
                <td>$5000 - $10000</td>
                <td>70%</td>
                <td>20%</td>
                <td>10%</td>

              </tr>
              <tr>
                <td>$10000+</td>
                <td>72%</td>
                <td>22%</td>
                <td>6%</td>

              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <span style="font-weight:bold; font-size: 16px;">Note-:</span> <span style="font-size: 16px;"> &nbsp; The current
            master-trader following
            limit per user is
            $10k</span>
        </div>

      </div>
      <br>
      <br>
      <br>
      <br>
      <hr style="border: 1px solid #981B40;">

  <!-- Grid -->
  <br>
  <br>
  <br>
  <div style="width: 100%;text-align: center; margin-top:20px; margin-bottom: 20px; padding: 64px;">
    <h1 style="color: black; font-size: 45px; font-weight:bold; line-height:45px">Reviews and testimonials</h1>
    <br>

  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div style="display: flex; justify-content: space-evenly;">
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px; margin:10px;">
            <div>
              Kazcade has been helpful because I don’t have to be analysing the charts constantly before taking a
              position. The master traders that I copy do their best to analyse it for you and all you have to do is
              follow their calls... There are many more services that charge much higher than Kazcade. I recovered the
              money I paid for Kazcade over time. It’s just been all round great :)
            </div>
            <div style="width: 100%; text-align: right;">
              <div style="font-size:25px">-William</div>
            </div>
          </div>
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;  margin:10px;">
            <div>
              I am one of those user’s that copies a single trader, and what I’ve found is that this trader’s trading plans are
              INCREDIBLY accurate. I really trust my trader and it’s great that I can just talk to them whenever I have a question and
              be able to speak to an actual person. It just feels very genuine
            </div>
            <div style="width: 100%; text-align: right;">
              <div style="font-size:25px">-Arienne</div>
            </div>
          </div>
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;  margin:10px;">
            <div>
              “Kazcade isn’t just about the copytrading but also the support. Whatever questions I have, the traders that
              I copy are always there to help. They’ve been so supportive and patient when it comes to answering
              questions. If you’re looking for good support, Kazcade should be your choice.”
            </div>
            <br>
            <br>
            <div style="width: 100%; text-align: right;">
              <div style="font-size:25px">-Cornell</div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <div style="display: flex; justify-content: space-evenly;">
          <div
            style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;  margin:10px;">
            <div>
              Kazcade has been helpful because I don’t have to be analysing the charts constantly before taking a
              position. The master traders that I copy do their best to analyse it for you and all you have to do is
              follow their calls... There are many more services that charge much higher than Kazcade. I recovered the
              money I paid for Kazcade over time. It’s just been all round great :)
            </div>
              <div style="width: 100%; text-align: right;">
                <div style="font-size:25px">-William</div>
              </div>
              </div>
            <div
              style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;  margin:10px;">
              <div>
                I’ve been following my master trader for four months and in that time I’ve made 20x my account worth.
                Recommend: 200%
                Trust: 1000%
              </div>
              <div style="width: 100%; text-align: right;">
                <div style="font-size:25px">-Rishap</div>
              </div>
            </div>
            <div
              style="background-color: #981B40; color:#FFFFFF;text-align: left; max-width: 500px; padding:45px; font-size: 18px; line-height: 38px;  margin:10px;">
              <div>
                I literally earned back the money I put into Kazcade within 24 hours.
              </div>
              <br>
              <br>
              <div style="width: 100%; text-align: right;">
                <div style="font-size:25px">-Daniel</div>
              </div>
            </div>
            </div>
            </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div style="width: 100%;text-align: center; margin-top:20px; margin-bottom: 20px; padding: 64px; font-size: 18px; ">
    NOTE: These reviews have been altered to protect the identities of the reviewers and traders. These reviews are
    provided by feedback given by previous traders to assist you on your intention to sign up to Kazcade. These reviews
    SHOULD NOT be a driving reason to join Kazcade if you don’t have relevant experience or do not feel comfortable with
    making losses please be cautious before participating in trading with Kazcade. <br> <b routerLink="/terms"
      style="cursor:pointer; text-decoration:underline;">PLEASE READ
      OUR Terms </b>BEFORE JOINING.

    </div>
    <div
      style="width: 100%; display:flex; justify-content: center; padding-left: 25px; padding-right:25px; align-items: center;">
      <div style="flex-grow: 1; border-top: 2px solid #981B40;">

      </div>
      <div style="margin-left:15px; margin-right: 15px; font-size: 18px; font-weight:bold;">
        Supported Exchanges
      </div>
      <div style="flex-grow: 1; border-top: 2px solid #981B40;">

      </div>
    </div>
    <div style="width: 100%; display:flex; justify-content: center; margin-top:-20px">
      <div>
        <img src="../../assets/b.png" style="max-width:150px; margin-right: 10px;">
      </div>
      <div>
        <img src="../../assets/b1.png" style="max-width:150px; margin-left: 10px; margin-top: 13px;">

    </div>
  </div>
  <div style="width: 100%; display:flex; justify-content: center; margin-top:-20px; opacity: 0.8; font-weight: bold;">
    <div>
      Others are coming soon.
    </div>
  </div>
  <br>

<!-- Grid -->
